@model IEnumerable<QA1_SYSTEM.Models.EquipmentMachineHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentMachine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trouble_encounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trouble_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentMachine.active_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trouble_encounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trouble_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EqpMacId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EqpMacId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EqpMacId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
