@model QA1_SYSTEM.Models.Purchasing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Purchasing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_request)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.purchase_dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.purchase_dept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.part_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.part_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unit_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_submitPR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_submitPR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.person_submitPR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person_submitPR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.purchase_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.purchase_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.po_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.po_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.est_time_arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.est_time_arrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_needed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_needed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.received_qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.received_qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pr_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pr_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pr_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pr_path)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
